@font-face {
  font-family: PCSenior;
  src: url('fonts/pc_senior/pcsenior.ttf');
}

@font-face {
  font-family: Pixelmix;
  src: url('fonts/pixelmix/pixelmix.ttf');
}

@import 'partials/bourbon/bourbon';
@import 'partials/jquery-ui';
@import 'partials/mixins';
@import 'partials/animations';
@import 'partials/nav';
@import 'partials/landing';
@import 'partials/game';
@import 'partials/detail';
@import 'partials/editor';
@import 'partials/play';
@import 'partials/profile';
@import 'partials/popup';
@import 'partials/palette';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    @include scrollbar(16px, black, whitesmoke);
    font-family: Pixelmix;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: PCSenior;
}

.yazua {
  color: pink;
  -webkit-text-stroke: 2px red;
  font-style: italic;
}

button, input, select, option {
  border: 4px solid black;
  border-radius: 0;
  padding: .1rem .3rem;
  background: whitesmoke;
  color: black;
  font-family: Pixelmix;

  &:active:not([type='text']):not(select):not(option) {
    background: black;
    color: whitesmoke;
    border-color: whitesmoke;
  }
}

body {
  background: #cbd0ca;
}

a {
  text-decoration: none;
  color: inherit;
}
