@keyframes sheen {
  0%, 40% {
    background-position: -800px 0px;
  }
  80%, 100% {
    background-position: 800px 0px;
  }
}

@keyframes ellipses {
  0% {
    content: '.';
  }
  33.33% {
    content: '..';
  }
  66.66% {
    content: '...';
  }
}

@keyframes shad-anim {
 0% {background-position: 0 0}
 0% {background-position: 100% -100%}
 }
