#detail-container {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    padding-top: calc(1.5rem + 4px);
    height: 100vh;

    .main-portal {
      @include display(flex);
      background-color: $medgrey;
      padding: 1rem;
      border: 4px solid black;
      box-shadow: 8px 8px 0 rgba(133,127,116,0.9) inset;
    }

    .game-detail {
      @include display(flex);
      @include flex-direction(column);
      background-color: $lightgrey;
      @include justify-content(space-between);
      @include align-items(center);
      border: black solid 4px;
      box-shadow: 8px 8px 0 rgba(133,127,116,0.9);
      padding: 4rem;

      h2 {
        text-align: center;
        font-style: italic;
        color: pink;
        -webkit-text-stroke: 2px red;
        margin: 20px 0;
        text-shadow: 8px 8px 2px rgba(150, 150, 150, 0.8);
      }

      .detail-info {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-around);;
        @include align-items(center);

          img {
            border: 4px black solid;
            width: 95%;
            background-color: $white;
          }

          label {
            @include display(flex);
            color: red;
            font-size: .75em;
            margin: 5px;

            p {
              color: black;
              font-size: 20px;
              margin-left: 5px;
            }
          }
      }

      .collab-button {
        margin: 25px 0 20px 0;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        button {
          width: 150px;
          height: 55px;
          margin-top: 7px;
        }
      }
    }

    #play-splash {
        margin-left: 5%;
        width: 42%;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);

        .yazua {
            font-size: 3em;
            // // color: pink;
            // // -webkit-text-stroke: 1px red;
            // // font-style: italic;
            text-shadow: 8px 8px 2px rgba(150, 150, 150, 0.8);
            margin-bottom: 20px;
            //
        }

        button {
            font-size: 1.8em;
            height: 8em;
            box-shadow: 8px 8px 0 rgba(133,127,116,0.9),
            -.5em -.5em 0 0 $lightgrey inset;



            span {
              color: red;
            }
        }

        #leaderboards {
          font-size: .5em;
          tr {
            @include display(flex);
          }
        }
    }
}
