#detail-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .game-detail {
      width: 60%;
      display: flex;
      flex-direction: column;
      background-color: whitesmoke;
      justify-content: space-around;
      align-items: center;
      border: black solid 4px;

      .collab-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
          width: 150px;
          height: 55px;
          margin-top: 10px;
        }
      }
    }

    #play-splash {
        margin: 2rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h1 {
            font-size: 3em;
            color: pink;
            -webkit-text-stroke: 2px red;
            font-style: italic;
        }

        button {
            font-size: 1.8em;
            height: 8em;

            span {
              color: red;
            }
        }
    }
}
