#editor {
  display: flex;
  flex-direction: column;
}

#editor-view {
  box-shadow: 8px 8px 0 0 $medgrey;
  flex: 1;
  display: flex;
  justify-content: center;
  background: white;

  > * {
    font-family: PCSenior;
  }

  h4 {
    margin: 0 auto;
    padding: .3rem 0 0 .3rem;
  }
}

.tab-nav {
  font-family: PCSenior;
  display: flex;
  justify-content: space-around;
  border-right: 4px solid black;

  .tab {
    background: $lightgrey;
    width: 100%;
    padding: .3em 0;
    text-align: center;
    border-bottom: 4px solid black;

    h5 {
      white-space: nowrap;
      overflow: hidden;
    }

    &:hover {
      cursor: pointer;
    }

    &.active {
      box-shadow: 10px 0px 0px -4px $medgrey;
      z-index: 1;
      background: whitesmoke;
      border: 4px solid black;
      border-bottom: none;
    }
  }
}

.map-container {
  width: 700px;
  height: 100%;
  padding: 1rem;

  .fullMap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;

    .mapRow {
      display: flex;
      align-items: baseline;

      .mapColumn {
        margin: 0 10px;
        display: flex;
        flex-direction: column;

        button {
          padding: 2em;
          &:hover {
            cursor: pointer;
          }
        }

        input {
          box-shadow: none;
          border: none;
          text-decoration: underline;
          text-align: center;
          text-overflow: ellipsis;
          &:active {
            background: whitesmoke;
            color: black;
          }
        }
      }
    }
  }
}

.selector-box {
  position: absolute;
  width: 400px;
  height: 400px;
  background: whitesmoke;
  border: 4px black solid;
}

#scene-editor {
  background: whitesmoke;
  height: 800px;
  display: flex;
  flex: 4;
  flex-direction: column;

  .tab:last-child {
    border-right: none;
    box-shadow: none;
  }
}

.editor-contents {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;

  &#scene {
    border-right: 4px solid black;
    border-left: 4px solid black;
    align-items: center;
  }

  &#asset {
    flex: 1;
    .edit-canvas {
      height: 200px;
      width: 200px;
    }
  }

  .edit-header {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    height: 1.4rem;
  }

  .edit-canvas {
    height: 500px;
    width: 700px;
    flex: 1;
    display: flex;
    justify-content: center;
    border: 4px solid black;
    margin: .5em;

    &.map {
      overflow: auto;
    }

    &.scene {
      // idk
    }

    &.background {
      // idk
    }

    @include radial-gradient (
    ellipse at center,
    rgba(255,255,255,1) 0%,
    rgba(231,223,199,1) 100%
    );
  }
}

.editor-controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  > * {
    flex: 1;
    button {
      width: 100%;
      height: 100%;
    }
  }
}

.editor-controls {
  display: flex;
  justify-content: space-between;
  > * {
    flex: 1;
    button {
      width: 100%;
      height: 100%;
    }
  }
}

#tool-bar {
  flex: 1;
  border: 4px black solid;
  display: flex;
  flex-direction: column;

  #colors-menu {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    > * {
      height: 100px;
      width: 100px;
    }

    .tools {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      button {
        font-size: .5em;
        flex: 1;
        line-height: 2;
      }
    }

    .color {
      border: 4px dashed black;
    }

    .size-picker, .color-picker {
      border: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      vertical-align: middle;
      &.size-picker {
        li {
          cursor: pointer;
          height: 40%;
          width: 40%;
          margin: 5%;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: lightgrey;
          }
        }
      }
      &.color-picker {
        font-size: 70px;
        li {
          cursor: pointer;
          height: 40%;
          width: 40%;
          margin: 5%;

          &:nth-child(1){
            background: skyblue;
          }

          &:nth-child(2){
            background: green;
          }

          &:nth-child(3){
            background: brown;
          }

          &:nth-child(4){
            background: orange;
          }

        }
      }
    }
  }
}

#asset-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
  background: whitesmoke;
  border: 4px black solid;
  border-left: none;
}

#asset-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#asset-canvas {
  flex: 1;
}

//dummy stuff:
canvas.asset {
  height: 50px;
  width: 50px;
  background: orange;
  &:hover {
    cursor: pointer;
  }
}
//end dummy stuff


.assets {
  font-family: PCSenior;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40%;

  .viewer {
    width: 50%;
    border-bottom: 4px black dashed;
    display: flex;
    flex-direction: column;

    .asset {
      &:hover {
        cursor: pointer;
      }
    }

//dummy stuff:
  ul {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    li {
      margin: 0 15px;
    }
  }
//end dummy stuff

    &:nth-child(2n){
      border-left: 2px black dashed;
    }

    &:nth-child(2n - 1){
      border-right: 2px black dashed;
    }
  }
}

#frame-counter {
  font-size: 3em;
  #frame-selector {
    font-size: 1em;
    border: none;
    box-shadow: none;
  }
}

.availableAsset {
  height: 75px;
  width: 75px;
  border: 2px solid black;
  font-size: 15px;
  word-wrap: break-word;
}

.grabbed {
  transition: transform ease 100ms;
  transform: scale(1.2);
  opacity: .5;
}

.asset-search {
  position: absolute;
  width: 400px;
  height: 400px;
  background: whitesmoke;
  border: 4px solid black;
}

#editor-footer {
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;

  ul {
    box-shadow: 8px 8px 0 0 $medgrey;
    background: whitesmoke;
    border: black 4px solid;
    display: flex;
    padding: 2em;
    li {
      padding: 1em;

      .publishGame {
        position: relative;
        overflow: hidden;
        &:after {
          @include sheen();
        }
      }
    }
  }
}
