//OVERALL VIEW

#event-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

#event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.event-edit {
  border: 4px solid black;
  width: 100%;

  &.preview {
    height: 100px;
    background: $lightgrey;

    &.as-asset{
      border: none;
      margin: 5px auto;
      width: 95%;
      height: auto;
      overflow: hidden;

      .preview-pane {
        padding: 15px 0;
      }

      .preview-step {
        height: auto;
        min-height: 68px;
      }
    }
  }

  &#edit {
    border-top: none;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
  }
}


//PREVIEW VIEW

.event-preview-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preview-pane {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  box-shadow: 8px 8px 0 0 $medgrey inset;
  transition: box-shadow 1s ease;

  .preview-step {
    height: 68px;
    width: 25%;
    background-color: $white;
    color: black;
    box-shadow: 8px 8px 0 0 $medgrey;
    font-size: .75em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: box-shadow 1s ease, background-color .5s ease, color .5s ease;

    &:hover {
      transition: background-color .5s ease, color .5s ease;
      background-color: $darkgrey;
      color: $white;
      cursor: pointer;
    }

    .preview-list {
      width: 100%;
    }

    .preview-list li {

      &.preview-default {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .default-text {
          display: inline-block;
          text-align: center;
        }
      }

      &.preview-item {

        span {
          display: inline-block;
          max-width: 120px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }

  .arrow {
    color: $white;
    text-shadow: 4px 4px $medgrey;
    transition: text-shadow 1s ease;

  }

  &:hover {
    box-shadow: 0 0 0 0 $lightgrey inset;
    transition: box-shadow 1s ease;
  }

  &:hover > .preview-step {
    box-shadow: 0 0 0 0 $lightgrey;
    transition: box-shadow 1s ease;
  }

  &:hover > .arrow {
    text-shadow: 0 0 $lightgrey;
    transition: text-shadow 1s ease;
  }

}

/////
//TRIGGERS VIEW:
/////

//TEXT TRIGGER VIEW:

#keywords {

  li span form {
    display: inline-block;
  }

}

.word {
  &.keyword {
    display: block;
    font-size: 1.25em;
    font-family: PCSenior;
    text-decoration: underline;
    width: 100%;
    white-space: wrap;
  }
  display: inline-block;
  border: none;
  padding: 10px 0;
  &:hover {
    background: $darkgrey;
    color: $white;
  }
}

.text-select {
  &:focus {
    background: black;
    color: $white;
  }
}

.number {
  width: 40px;
  border: none;
  padding: 10px 0;
}

/////
//RESULTS VIEW:
/////

.event-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  .event-menu {
    flex: 1;
  }

}


.menu-item {
  cursor: pointer;
  padding: 2px;
  margin: 2px;
  display: flex;
  justify-content: space-between;

  &#map-menu, #scene-menu {
    max-width: 165px; //overflow fix
  }

  span, button {
    min-width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover, &.active {
    background: $darkgrey;
    color: $white;
  }

}

button {
  border: none;
}

.menu-type {
  flex: 2;

  textarea {
    width: 100%;

    &:hover {
      background: $darkgrey;
      color: $white;
    }
  }

  .value {
    border-bottom: 1px solid $darkgrey;

    .number, .word {
      background: white;

      &:hover {
        background: $darkgrey;
        color: $white;
      }
    }

    &.text, &.item, &.requirement, .achievement-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2px;

      span {
        font-size: .7em;
      }
    }

    &.achievement {
      margin: 2px 0;
    }

    &.item {
      .word {
        width: 100%;
      }
    }
  }
}
