#landing-container {
    display: flex;
    margin-top: 3.6rem;
    height: 90vh;
    overflow-x: hidden;

    main {
      flex: 3;
      padding: 2rem;

      #game-results {
        background: #A4AC96;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 90%;
        overflow-y: auto;
        border: 4px black solid;
      }
    }


    #create-splash {
        margin: 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h1 {
            font-size: 3em;
        }

        button {
            font-family: PCSenior;
            font-size: 2em;
            padding: 2em;
            overflow: hidden;
            position: relative;
            &::after {
              @include sheen();
            }

        }
    }
}
