#landing-container {
    display: flex;
    height: 90vh;
    overflow-x: hidden;

    main {
      flex: 3;
      padding: 2rem;

      #game-results {
        background: $medgrey;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 90%;
        overflow-y: auto;
        border: 4px black solid;
      }
    }


    #create-splash {
        margin: 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow: initial;

        h1 {
            font-size: 3em;
        }

        button {
            overflow: hidden;
            position: relative;

            &::after {
              @include sheen();
            }
        }
    }
}

.game {
    margin: 15px;
    width: 300px;
    border: 4px solid black;

    img {
        width: 100%;
    }

    ul {
        font-size: 0.75em;

        li {
          color: grey;
          display: flex;
          justify-content: flex-start;
          padding: .5em;

          &:nth-child(odd) {
            background: whitesmoke;
          }

          &:nth-child(even) {
            background: $lightgrey;
          }
          
          span {
            color: black;
          }
        }
    }
}
