.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: whitesmoke;
  font-family: PCSenior;
  border-bottom: 4px solid black;
  z-index: 2;
  box-shadow: 0 8px 0 0 rgba(164,172,150,.5);
}

.nav ul {
  display: flex;
  color: black;
  li {
    padding: .1rem 1rem;
  }
  li:hover {
    background: black;
    color: whitesmoke;
    cursor: pointer;
  }
}
