.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: whitesmoke;
  font-family: PCSenior;
  border-bottom: 4px solid black;
}

.nav ul {
  display: flex;
  color: black;
  li {
    padding: .1rem 1rem;
  }
  li:hover {
    background: black;
    color: whitesmoke;
  }
}
