.palette-container {
  opacity: .99;
    z-index: 10;
    position: absolute;
    border: 4px solid black;
    background-color: $darkgrey;
    padding: 15px;
    width: 89.5vw;
    height: 86vh;
    -webkit-box-shadow: 16px 16px 2px -2px rgba(133,127,116,0.6);
    -moz-box-shadow: 16px 16px 2px -2px rgba(133,127,116,0.6);
    box-shadow: 16px 16px 2px -2px rgba(133,127,116,0.6);
    overflow: hidden;

    .format-container {
        display: flex;
    }

    button {
      font-size: 1em;
      font-family: PCSenior;
      margin-right: .6%;
      margin-top: .75%;
      position: relative;
      float: right;
      line-height: 1.4em;
    }

    form {
      margin-left: 4px;

      h1 {
        margin-bottom: 5px;
      }

      input[type='text'] {
        height: 35px;
        width: 300px;
        margin-bottom: 5px;
      }

      input[type='submit'] {
      }
    }

    #assets-results {
        overflow-y: auto;
        padding: 15px;
        border: 3px solid black;
        width: 69%;
        height: 72vh;
        margin: 10px 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $deepgrey;
        -webkit-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;
        box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;


        p {
          color: $white;
          font-style: italic;
          font-weight: bold;
          width: 100%;
          margin: 0 0 11px 9px;
          opacity: .95;
        }
        .asset {
            z-index: 15;
            background-color: whitesmoke;
            padding: 3px;
            background-size: cover;
            border: black solid 2px;
            font-size: 0.7em;
            text-shadow: 2px 2px 18px rgba(255, 255, 255, 1);
            margin: 5px;
            width: 140px;
            height: 100px;
            -webkit-box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);
            -moz-box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);
            box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);

            p {
                margin: 2px;
                color: black;

            }
        }
    }

    #assets-palette {
      border: 3px solid black;
      margin: 10px 0;
      padding: 0 15px;
        width: 29.7%;
        overflow-y: auto;
        height: 72vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $deepgrey;
        -webkit-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;
        -moz-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;
        box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.5) inset;

        button {
          margin-top: 15px;
        }

        .element {
            background-size: cover;
            background-color: whitesmoke;
            border: black solid 2px;
            font-size: 0.7em;
            text-shadow: 2px 2px 18px rgba(255, 255, 255, 1);
            margin: 5px;
            width: 140px;
            height: 100px;
            -webkit-box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);
            -moz-box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);
            box-shadow: 6px 6px 1px -1px rgba(0,0,0,0.6);

        }
    }
}
