#play-container {
  // Entire play container
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  overflow: hidden;
  padding-top: calc(1.5rem + 4px);
  height: 100vh;

  .game-plate {
    padding: 50px 0;
    height: 80%;
    width: 75%;
    background-color: $medgrey;
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    border: 4px solid black;
    -webkit-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9) inset;
    -moz-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9) inset;
    box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9) inset;

    h2 {
      border: black 4px solid;
      background-color: $white;
      font-style: italic;
      color: pink;
      -webkit-text-stroke: 2px red;
      padding: 7px 14px;
      margin-bottom: 25px;
      -webkit-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
      -moz-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
      box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
    }
  }

  .game-area {
    background-color: $white;
    @include display(flex);
    border: 4px black solid;
    -webkit-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
    -moz-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
    box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.9);
  }

  .play-info {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    font-size: .75em;
    font-weight: bold;
    margin: 4px 0;
  }

  .game-window {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    .game-screen {
      position: relative;
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      .menu {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: white;
        border-bottom: 2px solid black;
        font-size: 15px;
        box-sizing: border-box;
        .options {
          @include display(flex);
          list-style: none;
          height: 100%;
          .option {
            @include display(flex);
            @include align-items(center);
            padding-left: 10px;
            height: 100%;
            font-family: PCSenior;
            &.fileOption {
              position: relative;
              width: 15%;
              overflow: hidden;
              .fileOptions {
                position: absolute;
                width: 120%;
                top: 100%;
                left: 0;
                list-style: none;
                li {
                  @include display(flex);
                  @include align-items(center);
                  padding-left: 10px;
                  height: 30px;
                  background: white;
                  color: black;
                  &:hover, &.active {
                    background: black;
                    color: white;
                  }
                }
              }
            }
            &.invOption {
              width: 25%;
            }
            &.scoreOption {
              width: 25%;
            }
            &.timeOption {
              width: 35%;
            }
            &.active, &:hover {
              background: black;
              color: white;
              overflow: visible;
            }
          }
        }
      }
      .playBtn {
        position: absolute;
      }
      .typing, .dialog, .inventoryContainer, .saveMenu, .restoreMenu {
        min-width: 150px;
        max-width: 500px;
        word-wrap: break-word;
        max-height: 300px;
        overflow-y: scroll;
        z-index: 2;
        position: absolute;
        border: 4px solid black;
        border-radius: 0;
        padding: .1rem .3rem;
        background: whitesmoke;
        color: black;
        font-family: PCSenior;
      }
    }
  }

  .chat-window {
    background: white;
    border-left: 4px black solid;

    h4 {
      text-align: center;
      padding: 5px 0 2px 0;
      border-bottom: 2px solid black;
    }

    .chat-messages {
      width: 100%;
      height: 80.8%;
      background: $lightgrey;
      list-style-type: none;
      border: 4px solid $darkgrey;
      margin: 0;
      padding: 0;
      overflow-y: auto;
      li {
        padding: 5px 10px;
      }
      li:nth-child(odd) {
        background: #eee;
      }
    }

    .chat-submit {
      padding: 3px;
      width: 100%;

      input {
        border: 2px solid $lightgrey;
        padding: 10px;
        width: 100%;
        margin-right: .5%;
      }

      button {
        font-family: PCSenior;
        width: 100%;
        background: $white;
        padding: 10px;
        margin-bottom: 5px;
      }
    }
  }
}

#play-canvas {
  background: white;
  border-bottom: 4px solid black;
}

.music {
  background-color: $lightgrey;
  position: absolute;
  bottom: 1%;
  left: 1%;
}
