#play-container {
  // Entire play container
  display: flex;
  justify-content: space-between;
  align-items: center;

  .test-buttons {
    display: flex;
    flex-direction: column;
  }

  .game-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .game-screen {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .menu {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        background: white;
        border: 3px solid black;
        font-size: 15px;
        box-sizing: border-box;
        .options {
          display: flex;
          list-style: none;
          height: 100%;
          .option {
            display: flex;
            align-items: center;
            padding-left: 10px;
            height: 100%;
            font-family: PCSenior;
            &.fileOption {
              position: relative;
              width: 15%;
              overflow: hidden;
              .fileOptions {
                position: absolute;
                width: 120%;
                top: 100%;
                left: 0;
                list-style: none;
                li {
                  display: flex;
                  align-items: center;
                  padding-left: 10px;
                  height: 30px;
                  background: white;
                  color: black;
                  &:hover, &.active {
                    background: black;
                    color: white;
                  }
                }
              }
            }
            &.invOption {
              width: 25%;
            }
            &.scoreOption {
              width: 25%;
            }
            &.timeOption {
              width: 35%;
            }
            &.active, &:hover {
              background: black;
              color: white;
              overflow: visible;
            }
          }
        }
      }
      .playBtn {
        position: absolute;
      }
      .typing, .dialog, .inventoryContainer, .saveMenu, .restoreMenu {
        min-width: 150px;
        max-width: 500px;
        word-wrap: break-word;
        max-height: 300px;
        overflow-y: scroll;
        z-index: 2;
        position: absolute;
        border: 4px solid black;
        border-radius: 0;
        padding: .1rem .3rem;
        background: whitesmoke;
        color: black;
        font-family: PCSenior;
      }
    }
  }

  .chat-window {
    background: white;

    h1 {
      text-align: center;
    }

    .chat-messages {
      width: 200px;
      height: 500px;
      background: beige;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow-y: scroll;
      li {
        padding: 5px 10px;
      }
      li:nth-child(odd) {
        background: #eee;
      }
    }

    .chat-submit {
      padding: 3px;
      width: 100%;

      input {
        border: 0;
        padding: 10px;
        width: 100%;
        margin-right: .5%;
      }

      button {
        width: 100%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
      }
    }
  }
}

#play-canvas {
  background: white;
  border: 2px solid black;
}

.music {
  background-color: $lightgrey;
  position: absolute;
  bottom: 0;
  left: 0;
}
