#overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  transition-duration: 600ms;
  &:before {
    @include pseudo();
    @include checkerboard(4px, .6);
  }

  &.temp {
    transform: translateX(-90%);
    background: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 600px;
    top: 80px;
    left: 90%;
    min-width: 0;
    min-height: 0;
  }

  &.temp .popup {
    top: 100px;
    max-width: 600px;
    height: auto;
  }
}

#popup {
  z-index: 9999;
  border: 4px black solid;
  min-width: 100px;
  max-width: 70%;
  max-height: 700px;
  overflow-y: auto;
  background: whitesmoke;
  font-family: PCSenior;
  box-shadow: 8px 8px 0 0 rgba(164,172,150,0.5);

  .nav {
    position: static;
    box-shadow: none;
    ul {
      // justify-content: space-between;
      width: 100%;

      li:hover {
        background: whitesmoke;
        color: black;
      }
    }
  }

  #content {
    padding: 16px;
  }

  span {
    color: red;
  }

  .about-heading {
    color: red;
  }
}

.loading-screen {
  display: flex;
  flex-direction: column;
  .dancing-floppy {
    height: 170px;
    width: 170px;
    background-image: url('../images/loading-disk.png');
    background-size: cover;
  }
  .loading-count {
    width: 170px;
    background: white;
    color: black;
  }
}
