#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    @include pseudo();
    @include checkerboard(4px, .6);
  }
}

#popup {
  z-index: 9999;
  border: 4px black solid;
  min-width: 100px;
  background: whitesmoke;
  font-family: PCSenior;

  .nav {
    ul {
      justify-content: space-between;
      width: 100%;
    }
  }

  #close {
    padding: 2px;
    &:hover {
      background: black;
      color: whitesmoke;
    }
  }

  #content {
    padding: 8px;
  }

}
