#overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
  &:before {
    @include pseudo();
    @include checkerboard(4px, .6);
  }

  &.temp {
    background: transparent;
    justify-content: none;
    align-items: none;
  }

  &.temp .popup {
    background-color: purple;
    top: 100px;
  }
}

#popup {
  z-index: 9999;
  border: 4px black solid;
  min-width: 100px;
  background: whitesmoke;
  font-family: PCSenior;
  box-shadow: 8px 8px 0 0 rgba(164,172,150,0.5);

  .nav {
    position: static;
    box-shadow: none;
    ul {
      // justify-content: space-between;
      width: 100%;

      li:hover {
        background: whitesmoke;
        color: black;
      }
    }
  }


  #close {
    padding: 2px;
    &:hover {
      background: black;
      color: whitesmoke;
    }
  }

  #content {
    padding: 16px;
  }

}
