.profile-container {
    padding-top: 1.6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;

    .user-container {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: $lightgrey;

      img {
        border: 4px solid black;
        margin-left: 0 auto;
        width: 275px;
        height: 275px;
        -webkit-box-shadow: 10px 10px 4px -2px rgba(133,127,116,0.6);
        -moz-box-shadow: 10px 10px 4px -2px rgba(133,127,116,0.6);
        box-shadow: 10px 10px 4px -2px rgba(133,127,116,0.6);

      }

      .info {
        padding: 0.5rem;

        label {
          display: flex;
          font-size: 0.5em;
          padding: 10px 0;
          margin-left: 2%;
        }

        li {
          padding-left: 7px;
          color: pink;
          -webkit-text-stroke: 1px red;
          font-size: 2em;

          .edit {
            padding: 0;
            width: 20px;
            height: 20px;
            background-color: $lightgrey;
            background-image: url('../images/edit-pencil.png');
            background-size: cover;
            display: inline-block;
            border: none;
          }
        }
      }

      .collab-controls {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        align-items: center;
        width: 100%;

        .collab-header {
          display: flex;
        }
      }

      .collab-tables {
        width: 100%;
        text-overflow: ellipsis;
        transform: translateY(0);
        transition: transform 300ms ease;
      }

      .collab-number {

        top: -1px;
        position: relative;
        color: black;
        height: 20px;
        width: 20px;
        font-size: 1em;
        text-align: center;
        margin-left: 3px;

        .requests {
          padding-left: 4%;
          font-size: 0.7em;
          max-width: 10%;

          .requestArrow,
          .requestCounter {
            background-color: $lightgrey;
            border: none;
            width: 17px;
            height: 14px;
            box-shadow: none;
            background-image: url('../images/pixel-arrow.png');
            background-size: cover;
            -webkit-transition: 300ms ease all;
            -moz-transition: 300ms ease all;
            -o-transition: 300ms ease all;
            transition: 300ms ease all;
          }

          .requestArrow {
            -webkit-transform: rotate(180deg);
          }

          .requestCounter {
            -webkit-transform: rotate(0deg);
          }
        }

        span {
          color: red;
        }
      }

      .collaborators {
        padding-left: 4%;
        font-size: 0.7em;

        .collabArrow,
        .collabCounter {
          background-color: $lightgrey;
          border: none;
          width: 17px;
          height: 14px;
          box-shadow: none;
          background-image: url('../images/pixel-arrow.png');
          background-size: cover;
          -webkit-transition: 300ms ease all;
          -moz-transition: 300ms ease all;
          -o-transition: 300ms ease all;
          transition: 300ms ease all;
        }

        .collabArrow {
          -webkit-transform: rotate(0deg);
        }

        .collabCounter {
          -webkit-transform: rotate(180deg);
        }
      }

    }

    .remove-button {
      border: 2px solid black;
      box-shadow: none;
      text-align: center;
    }

    .avatar-container {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;;
      align-items: center;

      h2 {
        color: $darkgrey;
        font-style: italic;
        -webkit-text-stroke: 1px $deepgrey;
        padding: 3px 0;
      }
    }

    .games-container {
      margin: 1rem;
      padding-left: 7px;
      width: 38%;
      background: $medgrey;
      position: relative;
      overflow-y: auto;
      border: black solid 4px;
      -webkit-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6) inset;
      -moz-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6) inset;
      box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6) inset;


        h2 {
            padding: 3px 0;
            width: 80%;
            margin-left: 9.5%;
            border-top: 2px $darkgrey dotted;
            border-bottom: 2px $darkgrey dotted;
            color: $darkgrey;
            font-style: italic;
            text-align: center;
            -webkit-text-stroke: 1px $deepgrey;
        }
    }

    .avatar-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: auto;
      padding: 12px;
      border: black solid 4px;
      width: 100%;
      height: 300px;
      background-color: $medgrey;
      border-bottom: none;
      -webkit-box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7) inset;
      -moz-box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7) inset;
      box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7) inset;

      .avatar {
        margin: 0 6px;
        border: 2px solid black;
        text-overflow: ellipsis;
        background-color: whitesmoke;
        -webkit-box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7);
        -moz-box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7);
        box-shadow: 6px 6px 1px -1px rgba(133,127,116,0.7);

        .avatar-thumbnail {
          width: 150px;
          height: 150px;
        }

        p {
          text-align: center;
        }
      }
    }

    .avatar-large {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      position: relative;
      background-color: whitesmoke;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border: black solid 4px;
      -webkit-box-shadow: 12px 12px 12px -3px rgba(133,127,116,0.4) inset;
      -moz-box-shadow: 12px 12px 12px -3px rgba(133,127,116,0.4) inset;
      box-shadow: 12px 12px 12px -3px rgba(133,127,116,0.4) inset;

      p {
        padding: 20px;
        font-size: 3em;
        color: pink;
        -webkit-text-stroke: 2px red;
        font-style: italic;
        text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
      }

      .current-checkbox {
        text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        height: 80px;
        position: absolute;
        right: 0;

        label {
          color: $darkgrey;
        }

        input[type=checkbox] {
          margin-right: 25px;
          border: 4px black solid;
          -ms-transform: scale(3);
          -moz-transform: scale(3);
          -webkit-transform: scale(3);
          -o-transform: scale(3);
          padding: 10px;

          &::after {
            background-color: black;
          }
        }
      }
    }

    .user-create {
      height: 75px;
      width: 90%;
      margin: 20px 4.5%;
      font-size: 1.3em;
      font-weight: bold;
      font-family: PCSenior;
      -webkit-box-shadow: 0.25em 0.25rem 0 0 rgba(133,127,116,0.6), -.25rem -.25rem 0 0 $lightgrey inset;
      -moz-box-shadow: 0.25rem 0.25rem 0 0 rgba(133,127,116,0.6), -.25rem -.25rem 0 0 $lightgrey inset;
      box-shadow: 0.25rem 0.25rem 0 0 rgba(133,127,116,0.6), -.25rem -.25rem 0 0 $lightgrey inset;
      // -.25rem -.25rem 0 0 $lightgrey inset;
    }
}

.user-games {
  border: 5px solid black;
  padding: 5px;
  background-color: $lightgrey;
  margin: 20px;
  min-width: 300px;
  -webkit-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6);
  -moz-box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6);
  box-shadow: 12px 12px 2px -2px rgba(133,127,116,0.6);

  img {
    width: 100%;
    background-color: $white;
    border: 4px solid $blackgrey;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 3px 5px;

      h4 {
        padding-top: 3px;
        font-style: italic;
        width: auto;
        text-shadow: 3px 3px 1px rgba(133, 127, 116, 0.5);
      }

      label {
        color: red;
        font-size: .7em;
      }

      p {
        font-size: .9em;
        padding-left: 5px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;

    button {
      margin: 7px;
      height: 70px;
      width: 250px;
      font-size: 1em;
      font-family: PCSenior;

      &:hover {
        background: black;
        color: whitesmoke;
      }
    }
  }
}
