.profile-container {
    padding-top: 1.6rem;
    display: flex;

    .left-screen {
        padding: 1rem;
        width: 65%;
        display: flex;
        // flex-direction: column;
        align-items: space-around;
        background-color: $lightgrey;

        .user-info {
            display: flex;
            flex-direction: column;

            img {
                width: 150px;
                height: 150px;
            }

            .info {
                padding: 0.5rem;
            }

            .collab-controls {
                display: flex;
            }

            .requests {
                font-size: 0.7em;

                .requestArrow,
                .requestCounter {
                    width: 45px;
                    height: 40px;
                    box-shadow: none;
                    background-image: url('../images/pixel-arrow.png');
                    background-size: cover;
                    -webkit-transition: 300ms ease all;
                    -moz-transition: 300ms ease all;
                    -o-transition: 300ms ease all;
                    transition: 300ms ease all;
                }

                .requestArrow {
                    -webkit-transform: rotate(180deg);
                }

                .requestCounter {
                    -webkit-transform: rotate(0deg);
                }
            }

            .collaborators {
                font-size: 0.7em;

                .collabArrow,
                .collabCounter {
                    background-color: $lightgrey;
                    box-shadow: none;
                    width: 45px;
                    height: 40px;
                    background-image: url('../images/pixel-arrow.png');
                    background-size: cover;
                    -webkit-transition: 300ms ease all;
                    -moz-transition: 300ms ease all;
                    -o-transition: 300ms ease all;
                    transition: 300ms ease all;
                }

                .collabArrow {
                    -webkit-transform: rotate(180deg);
                }

                .collabCounter {
                    -webkit-transform: rotate(0deg);
                }
            }
        }

        .canvas-tools {
            background-color: $darkgrey;
            border: 3px black solid;
        }

        .avatar-selector {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 25px;

            .avatar-preview {
                display: flex;
                justify-content: center;
                align-items: space-around;
                overflow: auto;
                padding: 10px;
                border: black solid 4px;
                width: 100%;
                max-width: 675px;
                background-color: $medgrey;

                .avatar {
                    border: 2px solid black;
                    text-overflow: ellipsis;
                    background-color: whitesmoke;

                    .avatar-thumbnail {
                        width: 150px;
                        height: 150px;
                    }

                    p {
                      text-align: center;
                    }                    
                }
            }

            .avatar-large {
                display: flex;
                justify-content: space-between;
                background-color: whitesmoke;
                background-size: cover;
                width: 675px;
                height: 675px;
                border: black solid 4px;

                p {
                    padding: 20px;
                    font-size: 3em;
                    color: pink;
                    -webkit-text-stroke: 2px red;
                    font-style: italic;
                    text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
                }

                .current-checkbox {
                  text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    height: 80px;

                    label {
                      color: $darkgrey;
                    }

                  input[type=checkbox] {
                    margin-right: 25px;
                    border: 4px black solid;
                    -ms-transform: scale(3);
                    -moz-transform: scale(3);
                    -webkit-transform: scale(3);
                    -o-transform: scale(3);
                    padding: 10px;

                    &::after {
                      background-color: black;
                    }
                  }
                }
            }
        }
    }

    .games-created {
        padding-top: 1.6rem;
        padding-left: 7px;
        width: 35%;
        height: 100vh;
        background: $medgrey;
        overflow: scroll;
        border-left: black solid 5px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: space-around;
        .user-games {
            border: 5px solid black;
            padding: 5px;
            background-color: whitesmoke;
            margin: 5px 0;

            img {
                width: 100%;
            }
        }

        button {
            margin: 7px;
            height: 70px;
            width: 250px;

            &:hover {
                background: black;
                color: whitesmoke;
            }
        }

        ul {
            display: flex;

            li {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
