.profile-container {
    padding-top: 1.6rem;
    display: flex;

    .left-screen {
        padding: 1rem;
        width: 65%;
        display: flex;
        // flex-direction: column;
        align-items: space-around;
        background-color: $lightgrey;

        .user-info {
            display: flex;
            flex-direction: column;

            img {
              margin-left: 5%;
                width: 275px;
                height: 275px;
            }

            .info {
                padding: 0.5rem;

                label {
                  display: flex;
                  font-size: .5em;
                  padding: 10px 0;
                  margin-left: 2%;
                }

                li {
                  padding-left: 7px;
                  color: pink;
                  -webkit-text-stroke: 1px red;
                  font-size: 2em;

                  .edit {
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    background-color: $lightgrey;
                    background-image: url('../images/edit-pencil.png');
                    background-size: cover;
                    display: inline-block;
                    border: none;
                  }
                }
            }

            .collab-controls {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid black;
                align-items: center;
                .collab-header {
                  display: flex;
                }
            }

            .requests {
              padding-left: 4%;
                font-size: 0.7em;
                max-width: 10%;

                .requestArrow,
                .requestCounter {
                  background-color: $lightgrey;
                  border: none;
                    width: 17px;
                    height: 14px;
                    box-shadow: none;
                    background-image: url('../images/pixel-arrow.png');
                    background-size: cover;
                    -webkit-transition: 300ms ease all;
                    -moz-transition: 300ms ease all;
                    -o-transition: 300ms ease all;
                    transition: 300ms ease all;
                }

                .requestArrow {
                    -webkit-transform: rotate(180deg);
                }

                .requestCounter {
                    -webkit-transform: rotate(0deg);
                }
                .collab-tables {
                  max-width: 100px;
                  background-color: red;
                }

            }

            .collab-number {
                top: -1px;
                position: relative;
                color: black;
                height: 20px;
                width: 20px;
                font-size: 1em;
                text-align: center;
                margin-left: 3px;

                span {
                  color: red
                }
            }

            .collaborators {
              padding-left: 4%;
                font-size: 0.7em;

                .collabArrow,
                .collabCounter {
                  background-color: $lightgrey;
                  border: none;
                    width: 17px;
                    height: 14px;
                    box-shadow: none;
                    background-image: url('../images/pixel-arrow.png');
                    background-size: cover;
                    -webkit-transition: 300ms ease all;
                    -moz-transition: 300ms ease all;
                    -o-transition: 300ms ease all;
                    transition: 300ms ease all;
                }

                .collabArrow {
                    -webkit-transform: rotate(0deg);
                }

                .collabCounter {
                    -webkit-transform: rotate(180deg);
                }
            }
        }

        .avatar-selector {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 25px;

            .avatar-preview {
                display: flex;
                justify-content: center;
                align-items: space-around;
                overflow: auto;
                padding: 10px;
                border: black solid 4px;
                width: 100%;
                max-width: 675px;
                background-color: $medgrey;

                .avatar {
                    margin: 0 5px;
                    border: 2px solid black;
                    text-overflow: ellipsis;
                    background-color: whitesmoke;

                    .avatar-thumbnail {
                        width: 150px;
                        height: 150px;
                    }

                    p {
                        text-align: center;
                    }
                }
            }

            .avatar-large {
                display: flex;
                justify-content: space-between;
                background-color: whitesmoke;
                background-size: cover;
                width: 675px;
                height: 675px;
                border: black solid 4px;

                p {
                    padding: 20px;
                    font-size: 3em;
                    color: pink;
                    -webkit-text-stroke: 2px red;
                    font-style: italic;
                    text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
                }

                .current-checkbox {
                    text-shadow: 4px 4px 8px rgba(150, 150, 150, 0.77);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-end;
                    height: 80px;

                    label {
                        color: $darkgrey;
                    }

                    input[type=checkbox] {
                        margin-right: 25px;
                        border: 4px black solid;
                        -ms-transform: scale(3);
                        -moz-transform: scale(3);
                        -webkit-transform: scale(3);
                        -o-transform: scale(3);
                        padding: 10px;

                        &::after {
                            background-color: black;
                        }
                    }
                }
            }
        }
    }

    .games-created {
        padding-top: 1.6rem;
        padding-left: 7px;
        width: 35%;
        height: 100vh;
        background: $medgrey;
        overflow: scroll;
        border-left: black solid 5px;

        .user-create {
            margin-left: 26%;
            font-size: 1.3em;
            font-style: italic;
            font-weight: bold;
        }

        .user-games {
            border: 5px solid black;
            padding: 5px;
            background-color: whitesmoke;
            margin: 5px 0;

            img {
                width: 100%;
            }
        }

        button {
            margin: 7px;
            height: 70px;
            width: 250px;

            &:hover {
                background: black;
                color: whitesmoke;
            }
        }

        ul {
            display: flex;

            li {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
