$white: whitesmoke;  // rgba(245, 245, 245,1)
$lightgrey: #CBD0CA; // rgba(203,208,202,1)
$medgrey: #A4AC96;   // rgba(164,172,150,1)
$darkgrey: #857F74;  // rgba(133,127,116,1)
$deepgrey: #595358;  // rgba(89,83,88,1)
$blackgrey: #313628; // rgba(49,54,40,1)
