.yazua {
  display: inline-block;
  color: pink;
  text-shadow:
   -3.5px -3.5px 0 red,
    3.5px -3.5px 0 red,
    -3.5px 3.5px 0 red,
     3.5px 3.5px 0 red,
   .05em .05em 0 $medgrey;
   font-size: calc(1em - 6px);
  @supports (-webkit-text-stroke: 2px red) {
    color: pink;
    -webkit-text-stroke: 2px red;
    text-shadow: .05em .05em 0 $medgrey;
    font-size: initial;
  }
  font-style: italic;
  position: relative;
  z-index: 2;
}

.yazua:before {
  @supports (-webkit-text-stroke: 1p $medgrey) {
    -webkit-text-stroke: 1px $medgrey;
  }
  content: attr(data-shadow);
  position: absolute;
  top: -0.03em; left: -0.03em;
  z-index: -1;
  text-shadow: none;
}

.yazua:after {
 -webkit-text-stroke: 0 pink;
 content: attr(data-shadow);
 position: absolute;
 top: .085em; left: .085em;
 z-index: -1;
 text-shadow: none;
 @supports (-webkit-background-clip: text){
   background-image:
   linear-gradient(
   45deg,
   transparent 45%,
   red 45%,
   pink 55%,
   transparent 0
   );
   background-size: .1em .1em;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   animation: shad-anim 15s ease infinite;
 }
}

.dps {
  font-weight: bold;
  font-size: 1.3em;
  font-style: italic;
  color: $deepgrey;
}
