.yazua {
  display: inline-block;
  color: pink;
  -webkit-text-stroke: 2px red;
  font-style: italic;
  text-shadow: .05em .05em 0 $medgrey;
   position: relative;
}

.yazua:before {
  -webkit-text-stroke: 1px $medgrey;
  content: attr(data-shadow);
  position: absolute;
  top: -0.03em; left: -0.03em;
  z-index: -1;
  text-shadow: none;

}
.yazua:after {
 -webkit-text-stroke: 0 pink;
 content: attr(data-shadow);
 position: absolute;
 top: .085em; left: .085em;
 z-index: -1;
 text-shadow: none;
 background-image:
   linear-gradient(
     45deg,
    transparent 45%,
     red 45%,
     pink 55%,
     transparent 0
     );
 background-size: .1em .1em;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;

 animation: shad-anim 15s ease infinite;
 }
