<ul id="drawing-menu">
  <!-- COLLISION -->
    <li class="tool">
        <button ng-show="editor.drawingCollision" ng-click="editor.drawingCollision = false" class="collision">
          <div class="icon">
            <div>[]</div>
            <span class="label">Cancel</span>
          </div>
        </button>
        <button ng-show="!editor.drawingCollision" ng-click="editor.drawingCollision = true; editor.collisionType = 'wall';" class="collision">
          <div class="icon">
            <div>[]</div>
            <span class="label">Wall</span>
          </div>
        </button>
        <button ng-show="!editor.drawingCollision" ng-click="editor.drawingCollision = true; editor.collisionType = 'custom';" class="collision">
          <div class="icon">
            <div>[]</div>
            <span class="label">Custom</span>
          </div>
        </button>
    </li>
  <!-- CLEAR -->
    <li class="tool">
      <button ng-disabled="editor.drawingCollision || editor.erasing" id="{{editor.qState.clear}}">
        <div class="icon">
          <div>X</div>
          <span class="label">Clear</span>
        </div>
      </button>
    </li>
  <!-- ERASER -->
    <li class="tool">
      <button ng-show="!editor.erasing" ng-click="editor.erasing = true" class="eraser">
        <div class="icon">
          <div>⌫</div>
          <span class="label">Erase</span>
        </div>
      </button>
      <button ng-show="editor.erasing" ng-click="editor.erasing = false" class="eraser">
        <div class="icon">
          <div>⌫</div>
          <span class="label">Cancel</span>
        </div>
      </button>
    </li>
  <!-- UNDO/REDO -->
    <li class="tool">
      <button class="do" ng-disabled="editor.erasing" id="{{editor.qState.undo}}">
        <div class="icon">
          <div>&lt-</div>
          <span class="label">Undo</span>
        </div>
      </button>
      <button class="do" ng-disabled="editor.erasing" id="{{editor.qState.redo}}">
        <div class="icon">
          <div>-></div>
          <span class="label">Redo</span>
        </div>
      </button>
    </li>
  <!-- SIZE PICKER -->
    <ul class="picker size">
        <li ng-click="editor.currentPixelSize = 0">S</li>
        <li ng-click="editor.currentPixelSize = 1">M</li>
        <li ng-click="editor.currentPixelSize = 4">L</li>
        <li ng-click="editor.currentPixelSize = 9">XL</li>
    </ul>
  <!-- COLOR PICKER -->
    <ul class="picker color" ng-class="{'disabled': editor.drawingCollision || editor.erasing}">
        <li ng-click="editor.currentColor = editor.colorPalette[1]" ng-style="{'background-color': editor.colorPalette[1]}">
          <span class="color-icon">
            <input class="color-input" type="color" ng-model="editor.inputColor" ng-change="editor.selectColor(1)" ng-disabled="editor.drawingCollision === true">
          </span>
        </li>
        <li ng-click="editor.currentColor = editor.colorPalette[2]" ng-style="{'background-color': editor.colorPalette[2]}">
          <span class="color-icon">
            <input class="color-input" type="color" ng-model="editor.inputColor" ng-change="editor.selectColor(2)" ng-disabled="editor.drawingCollision === true">
          </span>
        </li>
        <li ng-click="editor.currentColor = editor.colorPalette[3]" ng-style="{'background-color': editor.colorPalette[3]}">
          <span class="color-icon">
            <input class="color-input" type="color" ng-model="editor.inputColor" ng-change="editor.selectColor(3)" ng-disabled="editor.drawingCollision === true">
          </span>
        </li>
        <li ng-click="editor.currentColor = editor.colorPalette[4]" ng-style="{'background-color': editor.colorPalette[4]}">
          <span class="color-icon">
            <input class="color-input" type="color" ng-model="editor.inputColor" ng-change="editor.selectColor(4)" ng-disabled="editor.drawingCollision === true">
          </span>
        </li>
    </ul>
</ul>
