<p ng-show="editor.currentScene === null"> First pick a scene from a map! </p>
<section id="scene-tools" ng-show="editor.currentScene !== null">

  <ul class="tab-nav scene">
    <li class="tab" ng-class="{'active': scene.view === 'events'}" ng-click="scene.view = 'events'">
      <h5>Events</h5>
    </li>
    <li class="tab" ng-class="{'active': scene.view === 'assets'}" ng-click="scene.view = 'assets'">
      <h5>Assets</h5>
    </li>
  </ul>


  <section class="scene-assets" ng-show="scene.view==='events'">

  <!-- HEADER -->
    <h4>{{editor.currentScene.name}} Events:</h4>
    <section id="scene-event-controls">
      <span class="select" tabindex="1">
        <h3>Events:</h3>
        <ul class="options">
          <li class="option" tabindex="1" ng-repeat="event in editor.availableEvents" ng-mouseover="scene.selectedEvent = event" ng-show="editor.availableEvents.length > 0">
            {{event.name}}
          </li>
          <li ng-show="editor.availableEvents.length === 0">(none)</li>
        </ul>
      </span>
      <button ng-click="scene.selectEvent(scene.selectedEvent)" ng-disabled="!scene.selectedEvent">+ {{scene.selectedEvent.name || "Event"}}</button>
      <button ng-click="scene.addLocationEvent()">+ Location Event</button>
    </section>



  <!-- PREVIEW LIST -->
    <section class="event-in-scene" ng-repeat="event in editor.currentScene.events">
      <div class="event-preview-head">
        <span>{{event.name}}</span>
        <span>({{event.category | capitalize}} Event)</span>
        <button ng-click="editor.currentEvent = event; editor.currentSmallView = 'event'">
          Edit
        </button>
      </div>
      <div class="event-edit preview as-asset">
        <ul class="preview-pane">

          <li class="preview-step" ng-click="editor.currentEvent = event; editor.currentSmallView = 'event'; events.view = 'requirements'">
            <ul class="preview-list">
              <li>
                -Reqs-
              </li>
            </ul>
          </li>
          <li class="arrow">-></li>

          <li class="preview-step" ng-click="editor.currentEvent = event; editor.currentSmallView = 'event'; events.view = 'triggers'" ng-style="editor.setThumbnail(editor.currentEvent.info)">
            <ul class="preview-list">
              <li ng-if="event.info.triggers.length === 0 && !event.info.thumbnail" class="default">
                -Triggers-
              </li>
              <li ng-repeat="trigger in event.info.triggers">
                <div>
                  <span>-types '{{trigger[0]}}'</span>
                  <span ng-if="trigger[1]">/'{{trigger[1]}}'</span>
                  <span ng-if="trigger[2]">/'{{trigger[2]}}'</span>
                </div>
                <div ng-if="!$last">AND</div>
              </li>
            </ul>
          </li>
          <li class="arrow">-></li>

          <li class="preview-step" ng-click="editor.currentEvent = event; editor.currentSmallView = 'event'; events.view = 'results'">
            <ul class="preview-list">
              <li ng-if="events.anyResults() === false" class="default">
                -Results-
              </li>
              <li ng-if="event.info.results.text.length > 0">
                -text: "{{event.info.results.text[0]}}"
              </li>
              <li ng-if="event.info.results.achievements.length > 0">
                -achieves:
              </li>
              <li ng-if="event.info.results.inventory.length > 0">
                -gains:
              </li>
              <li ng-if="Object.keys(events.info.results.portal).length > 0">
                -warps:
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

  </section>

  <section class="scene-assets" ng-show="scene.view==='assets'">
    <h4>{{editor.currentScene.name}} Assets:</h4>

    <ul class="assets-list">
      <!-- BACKGROUND -->
      <li>
        <span class="select" tabindex="1">
          <h3>Background:</h3>
          <ul class="options" tabindex="1">
            <li ng-repeat="background in editor.availableBackgrounds | orderBy:'-'" ng-mouseover="scene.selectBackground(background)" class="option" tabindex="1">{{background.name}}</li>
          </ul>
        </span>
        <span>{{editor.currentScene.background.name || "none"}}</span>
      </li>
      <!-- OBJECTS -->
      <li>
        <span class="select" tabindex="1">
          <h3>Objects:</h3>
          <ul class="options">
            <li class="option" tabindex="1" ng-repeat="object in editor.availableObjects" ng-mouseover="scene.selectedObject = object" ng-show="editor.availableObjects.length > 0">
              {{object.name}}
            </li>
            <li ng-show="editor.availableObjects.length === 0">(none)</li>
          </ul>
        </span>
        <button ng-click="scene.selectObject(scene.selectedObject)" ng-disabled="!scene.selectedObject"> Add {{scene.selectedObject.name || "Object"}} </button>

        <ul class="assets-list objects">
          <li ng-repeat="object in editor.currentScene.objects track by $index" ng-show="editor.currentScene.objects.length > 0">
            <h5 class="scene-asset object">{{object.name}} (index: {{$index}}):</h5>
            <div class="asset-positioner" ng-show="object">
              <label>X</label>
              <input ng-model="object.info.pos.x" placeholder="350" type="number">
              <label>Y</label>
              <input ng-model="object.info.pos.y" placeholder="250" type="number">
              <button ng-click="scene.removeAsset($index, 'objects')">X</button>
            </div>
          </li>
          <li ng-show="editor.currentScene.objects.length === 0">
            <h5 class="scene-object">(no objects yet!)</h5>
          </li>
        </ul>
      </li>
      <!-- ENTITIES -->
      <li>
        <span class="select" tabindex="1">
          <h3>Entities:</h3>
          <ul class="options">
            <li class="option" tabindex="1" ng-repeat="entity in editor.availableEntities" ng-mouseover="scene.selectedEntity = entity" ng-show="editor.availableEntities.length > 0">
              {{entity.name}}
            </li>
            <li ng-show="editor.availableEntities.length === 0">(none)</li>
          </ul>
        </span>
        <button ng-click="scene.selectEntity(scene.selectedEntity)" ng-disabled="!scene.selectedEntity"> Add {{scene.selectedEntity.name || "Entity"}} </button>

        <ul class="assets-list entities">
          <li ng-repeat="entity in editor.currentScene.entities track by $index" ng-show="editor.currentScene.entities.length > 0">
            <h5 class="scene-asset entity">{{entity.name}} (index: {{$index}}):</h5>
            <div class="asset-positioner" ng-show="entity">
              <label>X</label>
              <input ng-model="entity.info.pos.x" placeholder="350" type="number">
              <label>Y</label>
              <input ng-model="entity.info.pos.y" placeholder="250" type="number">
              <button ng-click="scene.removeAsset($index, 'entities')">X</button>
            </div>
          </li>
          <li ng-show="editor.currentScene.entities.length === 0">
            <h5 class="scene-asset entity">(no entity yet!)</h5>
          </li>
        </ul>
      </li>
    </section>



  </section>
