<div class="asset-container">

  <div class="asset-header">
    <input type="text" ng-model="editor.currentEntity.name" class="entityEditorTitle" ng-click="editor.selectText($event)" blur-on-enter></input>
    <button id="saveEntity">Save Object</button>
  </div>

  <div class="asset-header">
    <span class="select" tabindex="1">
      {{editor.selectedAnimation || "Animations"}}
      <ul class="options" tabindex="1">
        <li ng-repeat="(animation, data) in editor.currentEntity.info.animate" class="option" tabindex="1" ng-mouseover="editor.selectedAnimation = animation; editor.editEntityFrame(editor.currentEntity);">{{animation}}</li>
      </ul>
    </span>
    <span id="frame-counter">
      <input id="frame-selector" ng-model="editor.modeledFrameIndex" type="number" min="0" max="{{editor.currentEntity.info.animate[editor.selectedAnimation].length - 1}}" ng-click="editor.editEntityFrame(editor.currentEntity)">
      / {{editor.currentEntity.info.animate[editor.selectedAnimation].length - 1}}
    </span>
  </div>

  <div class="asset-content">
    <button id="copyEntity">Copy</button>
    <button id="pasteEntity">Paste</button>
  </div>
  
  <div class="asset-content">
    <div ng-show="editor.currentEntity" class="edit-canvas"><canvas id="ent-canvas" height="200" width="200" tabindex="1" ng-focus="editor.qState = {undo: 'undoEntity', redo: 'redoEntity', clear: 'clearEntity'}"></canvas></div>
  </div>

</div>
