

<section id="event-editor">
  <section>

    <div id="event-header">
      <input class="eventEditorTitle" type="text" ng-model="editor.currentEvent.name" ng-click="editor.selectText($event)" blur-on-enter></input>
      <span>({{editor.currentEvent.category | capitalize}} Event)</span>
      <button ng-click="events.log()">log</button>
      <button ng-click="events.save(editor.currentEvent)">Save</button>
    </div>

  <!-- PREVIEW -->

    <div class="event-edit preview">
      <ul class="preview-pane">

        <li class="preview-step" ng-click="events.view = 'requirements'">
          <ul class="preview-list">
            <li ng-if="events.anyRequirements() === false" class="preview-default">
                <span>[</span><span class="default-text">No Requirement</span><span>]</span>
            </li>
            <li ng-repeat="requirement in editor.currentEvent.info.requirements.achievements" class="preview-item">
              <span>▪won '{{requirement}}'</span>
            </li>
            <li ng-repeat="requirement in editor.currentEvent.info.requirements.inventory" class="preview-item">
              <span>▪has '{{requirement}}'</span>
            </li>
          </ul>
        </li>
        <li class="arrow">-></li>

        <li class="preview-step" ng-click="events.view = 'triggers'" ng-style="editor.setThumbnail(editor.currentEvent.info)">
          <ul class="preview-list">
            <li ng-if="editor.currentEvent.info.triggers.length === 0 && !editor.currentEvent.info.thumbnail" class="preview-default">
                <span>[</span><span class="default-text">No Trigger</span><span>]</span>
            </li>
            <li ng-repeat="trigger in editor.currentEvent.info.triggers" class="preview-item">
              <div>
                <span>▪types '{{trigger[0]}}'</span>
                <span ng-if="trigger[1]">/'{{trigger[1]}}'</span>
                <span ng-if="trigger[2]">/'{{trigger[2]}}'</span>
              </div>
              <div ng-if="!$last">AND</div>
            </li>
          </ul>
        </li>
        <li class="arrow">-></li>

        <li class="preview-step" ng-click="events.view = 'results'">
          <ul class="preview-list">
            <li ng-if="events.anyResults() === false" class="preview-default">
                <span>[</span><span class="default-text">No Result</span><span>]</span>
            </li>
            <li ng-if="editor.currentEvent.info.results.text.length > 0" class="preview-item">
              <span>▪text: "{{editor.currentEvent.info.results.text[0]}}"</span>
            </li>
            <li ng-if="editor.currentEvent.info.results.achievements.length > 0" class="preview-item">
              <span>▪wins: "{{editor.currentEvent.info.results.achievements[0].name}}"</span>
            </li>
            <li ng-if="editor.currentEvent.info.results.inventory.length > 0" class="preview-item">
              <span>▪gets:
                <span ng-repeat="item in editor.currentEvent.info.results.inventory">
                  "{{item}}"<span ng-if="!$last">,</span>
                </span>
              </span>
            </li>
            <li ng-if="Object.keys(editor.currentEvent.info.results.portal).length > 0" class="preview-item">
              •warps:
            </li>
          </ul>
        </li>
      </ul>

    </div>
  </section>

  <section>

    <ul class="tab-nav event">
      <li class="tab" ng-class="{'active': events.view === 'requirements'}" ng-click="events.view = 'requirements'">
        <h5>Requirements</h5>
      </li>
      <li class="tab" ng-class="{'active': events.view === 'triggers'}" ng-click="events.view = 'triggers'">
        <h5>Triggers</h5>
      </li>
      <li class="tab" ng-class="{'active': events.view === 'results'}" ng-click="events.view = 'results'">
        <h5>Results</h5>
      </li>
    </ul>

    <div class="event-edit" id="edit">

    <!-- REQUIREMENTS -->
      <section ng-show="events.view === 'requirements'">
        <h4>Event Requirements: {{events.requirementType}}</h4>
          <section class="event-section">

            <span class="event-menu">
              <ul>
                <li class="menu-item" ng-class="{'active': events.requirementType === 'achievement'}" ng-click="events.requirementType='achievement'; events.findRequirements()">
                  <span>Achievement:</span>
                  <button>></button>
                </li>
                <li class="menu-item" ng-class="{'active': events.requirementType === 'inventory'}" ng-click="events.requirementType='inventory'; events.findRequirements()">
                  <span>Inventory:</span>
                  <button>></button>
                </li>
              </ul>
            </span>


            <span class="menu-type">

              <div class="requirement-value" ng-if="events.requirementType==='achievement'">
                <ul>
                  <li class="menu-item" ng-repeat="achievement in events.requirements.achievements track by $index">
                    <span>{{achievement}}</span>
                    <button ng-click="events.addRequirement(events.requirements.achievements[$index], 'achievements')">+</button>
                  </li>
                </ul>
              </div>

              <div class="requirement-value" ng-if="events.requirementType==='inventory'">
                <ul>
                  <li class="menu-item" ng-repeat="item in events.requirements.inventory track by $index">
                    <span>{{item}}</span>
                    <button ng-click="events.addRequirement(events.requirements.inventory[$index], 'inventory')">+</button>
                  </li>
                </ul>
              </div>

            </span>
          </section>

      </section>

    <!-- TRIGGERS -->

      <section ng-show="events.view === 'triggers'">

      <!-- TEXT TRIGGERS -->
        <section ng-if="editor.currentEvent.category === 'text'">
          <h4>Event Keywords:</h4>
          <ul id="keywords">

            <li ng-if="editor.currentEvent.info.triggers.length === 0">
              <form name="wordList" ng-submit="events.addWordList(events.newWord)">
                <input class="word keyword" ng-model="events.newWord" placeholder="+Keyword" type="text" ng-click="editor.selectText($event)" blur-on-enter></input>
              </form>
            </li>

            <li ng-repeat="wordList in editor.currentEvent.info.triggers" ng-init="outerindex = $index">
              <span ng-repeat="word in wordList track by $index" ng-init="bufferIndex = events.bufferIndex()">
                <input class="word keyword" ng-model="wordList[$index]" type="text" ng-click="editor.selectText($event)" blur-on-enter ng-if="$first"></input>
                <input class="word" ng-model="wordList[$index]" type="text" ng-click="editor.selectText($event)" elastic blur-on-enter ng-if="!$first"></input>
                or:
                <form ng-submit="events.addAlias(events.wordBuffer[bufferIndex], outerindex)" ng-if="$last">
                  <input class="word new" ng-model="events.wordBuffer[bufferIndex]" placeholder="+Alias" type="text" ng-click="editor.selectText($event)" elastic focus="$last"></input>
                </form>
              </span>
              <div>AND:</div>
              <form ng-submit="events.addWordList(events.newWord)" ng-if="$last">
                <input class="word keyword" ng-model="events.newWord" placeholder="+Keyword" type="text"></input>
              </form>
            </li>
          </ul>
        </section>

      <!-- LOCATION TRIGGERS -->

        <section ng-if="editor.currentEvent.category === 'location'">
          <h4>Event Location Data:</h4>
        <!-- SCENE SELECTOR VIEW -->

          <section class="event-section" ng-if="events.locationView === 'scene'">

            <span class="event-menu" id="map-menu">
              <p>Maps:</p>
              <ul ng-if="editor.currentEditingGame.info.maps.length > 1">
                <li class="menu-item" ng-repeat="map in editor.currentEditingGame.info.maps track by $index" ng-click="events.map = editor.currentEditingGame.info.maps[$index]" ng-class="{'active': events.map === editor.currentEditingGame.info.maps[$index]}" ng-hide="$first">
                  <span>{{map.name}}</span>
                  <button>-></button>
                </li>
              </ul>
              <p ng-if="editor.currentEditingGame.info.maps.length <= 1">Make a new map silly!!</p>
            </span>

            <span class="menu-type" id="scene-menu">
              <p ng-show="events.map">Scenes in {{events.map.name}}:</p>
              <ul  ng-if="events.map" ng-repeat="row in events.map.scenes track by $index" ng-init="mapRow = $index">
                <li class="menu-item" ng-repeat="scene in row track by $index" ng-click="events.selectScene(events.map.scenes[mapRow][$index])" ng-class="{'active': events.scene === events.map.scenes[mapRow][$index]}">
                  <span>{{scene.name}}</span>
                  <button disabled>set</button>
                </li>
              </ul>
              <p ng-if="events.map.scenes.length === 0">Make a new scene silly!!</p>
            </span>

          </section>

        </section>


      </section>



    <!-- RESULTS -->
      <section ng-show="events.view === 'results'">
        <h4>Event Results: {{events.resultType | capitalize}}</h4>

      <!-- MENU -->

        <section class="event-section">
          <span class="event-menu">
            <ul>
              <li class="menu-item" ng-class="{'active': events.resultType === 'text'}" ng-click="events.resultType='text'">
                <span>Text:</span>
                <button ng-click="events.addText()">+</button>
              </li>
              <li class="menu-item" ng-class="{'active': events.resultType === 'achievement'}" ng-click="events.resultType='achievement'">
                <span>Achievement:</span>
                <button ng-click="events.addAchievement()">+</button>
              </li>
              <li class="menu-item" ng-class="{'active': events.resultType === 'inventory'}" ng-click="events.resultType='inventory'">
                <span>Inventory:</span>
                <button ng-click="events.addItem()">+</button>
              </li>
              <li class="menu-item" ng-class="{'active': events.resultType === 'portal'}" ng-click="events.resultType='portal'">
                <span>Portal:</span>
                <button disabled>></button>
              </li>
            </ul>
          </span>

        <!-- TEXT RESULTS -->

          <span class="menu-type">

            <div class="result-value" ng-if="events.resultType==='text' && editor.currentEvent.info.results.text.length > 0">
              <div class="value text" ng-repeat="response in editor.currentEvent.info.results.text track by $index">
                <textarea ng-model="editor.currentEvent.info.results.text[$index]"></textarea>
                <button ng-click="events.removeText($index)">x</button>
              </div>
            </div>

          <!-- ACHIEVEMENT RESULTS -->

            <div class="result-value" ng-if="events.resultType==='achievement' && editor.currentEvent.info.results.achievements.length > 0">
              <div class="value achievement" ng-repeat="achievement in editor.currentEvent.info.results.achievements">
                <div class="achievement-header">
                  <span>
                    <input class="word" type="text" maxlength="26" placeholder="Name" ng-model="achievement.name" elastic blur-on-enter></input>
                    <input class="number" type="number" placeholder="0" min="0" ng-model="achievement.points" blur-on-enter></input> Pts
                  </span>
                  <button ng-click="events.removeAchievement($index)">x</button>
                </div>
                <textarea placeholder="Description" ng-model="achievement.description"></textarea>
              </div>
            </div>

            <div class="result-value" ng-if="events.resultType==='inventory' && editor.currentEvent.info.results.inventory.length > 0">
              <div class="value item" ng-repeat="item in editor.currentEvent.info.results.inventory track by $index">
                <input ng-model="editor.currentEvent.info.results.inventory[$index]" type="text" maxlength="50" class="word" placeholder="Item Name"></input>
                <button ng-click="events.removeItem($index)">x</button>
              </div>
            </div>

            <div class="result-value" ng-if="events.resultType==='portal' && Object.keys(editor.currentEvent.info.results.portal).length > 0">
              p o r t
            </div>

          </span>
        </section>


      </section>

    </div>
  </section>
</section>
