<div class="palette-container">
  <label for="asset-type">Available Assets for Game Creation</label>
  <select ng-model="assetType" class="asset-type">
    <option value="backgrounds">Backgrounds</option>
    <option value="objects" selected="selected">Objects</option>
    <option value="entities">Characters</option>
  </select>
  <label for="asset-search">Search Assets By Keyword:</label>
  <input type="text" ng-model="searchText" placeholder="{{ assetType }}">

  <section class="assets-results">
    <div ng-repeat="asset in landing.allAssets" class="asset">
      <canvas class="asset-canvas" width="130" height="170"></canvas>
      <p>{{ asset.name }}</p>
    </div>
  </section>
</div>
