<input class="eventEditorTitle" type="text" ng-model="editor.currentEvent.name" ng-click="editor.selectText($event)" blur-on-enter></input>
<li>
  <span class="select" tabindex="1">
    <h3>Requirements:</h3>
    <ul class="options" tabindex="1">
      <li ng-repeat="requirement in scripts.possibleRequirements | orderBy:'-'" ng-mouseover="scripts.addRequirement(requirement)" class="option" tabindex="1">{{requirement.type}}</li>
    </ul>
  </span>
  <span tabindex="1">
    <h3>Typed Words:</h3>
    <ul>
      <li ng-repeat="andWords in scripts.possibleAndWords | orderBy:'-'" class="option" tabindex="1"></li>
    </ul>
  </span>
  <span class="select" tabindex="1">
    <h3>Result:</h3>
    <ul class="options" tabindex="1">
      <li ng-repeat="result in scripts.possibleResults | orderBy:'-'" ng-mouseover="scripts.addResult(result)" class="option" tabindex="1">{{result.type}}</li>
    </ul>
  </span>
</li>
