<div id="landing-container">
  <section id="results-container">
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
    <a ui-sref='main.game.play'><canvas class="game-result" height="700" width="500"></canvas></a>
  </section>
  <aside id="create-splash">
    <button ui-sref='main.game.editor'>Create a gaaaaaaaame</button>
  </aside>
</div>
