<header>
  <nav id="navigation">
    <ul>
      <li>
        <a ui-sref='main.profile'>Profile</a>
      </li>

      <li>
        <a id="login">Login/Signup</a>
      </li>
      <li>
        <a id="logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>

<div id="register">
  <form ng-submit="main.registerUser()" class="register-form">
  <h1>Hey, You're New!</h1>
  <label for="register">Choose a User Name</label>
  <input class="username" type="text" placeholder="User Name">
  <input ng-click="main.cancel()" type="button" value="Cancel">
  <input type="submit" value="Register">
</form>
</div>

<div id="welcome">
  <h1>WELCOME</h1>
</div>

<main>
  <ui-view></ui-view>
</main>
