<div class="profile-container">
    <div class="left-screen">
        <section class="user-info">
            <img src="{{ user.picture }}" alt="Google profile picture" />
            <ul class="info">
                <label for="username">Questr Name:<li>{{ user.username }}</li></label>
                <label for="joined">Joined the Quest:<li>{{ getJoinedDate(user.joined) | date:'MMM d - h:mm a' }}</li></label>
                <label for="joined">Another Stat:<li>Something Impressive</li></label>
            </ul>

            <div ng-if="requests" class="requests">
                <a ng-click="showRequests()">Requests to collaborate</a>
                <table>
                  <tr>
                    <th>Game:</th>
                    <th>Requested By:</th>
                    <th>Approved:</th>
                    <th>Remove</th>
                  </tr>
                  <tr ng-repeat="request in requests">
                    <td>{{ request.game }}</td>
                    <td>{{ request.username }}</td>
                    <td><input ng-change="toggleCollab(request)" type="checkbox" value="{{ request.accepted }}"></td>
                    <td><button ng-click="removeRequest(request)" type="button" name="button"></button></td>
                  </tr>
                </table>
            </div>

            <div ng-if="collaborators" class="collaborators">
                <a ng-click="showCollaborators()">Currently Approved Collaborators:</a>
                <table>
                  <tr>
                    <th>Game:</th>
                    <th>Collaborator:</th>
                    <th>Approved:</th>
                    <th>Remove</th>
                  </tr>
                  <tr ng-repeat="collaborator in collaborators">
                    <td>{{ collaborator.game }}</td>
                    <td>{{ collaborator.username }}</td>
                    <td><input ng-change= "toggleCollab(collaborator)"type="checkbox" value="{{ collaborator.accepted }}"></td>
                    <td><button ng-click="removeCollaborator(collaborator)" type="button" name="button"></button></td>
                  </tr>
                </table>
            </div>
        </section>

        <section class="canvas-tools">
          <p>
            Canvas Tools:
          </p>
        </section>

        <section class="avatar-creator">
            <canvas id="animate-preview" width="145" height="200"></canvas>
            <div>
                <h1>Avatar Editor:</h1>
                <!-- <div class="frame-overview">
                    <a ng-repeat="frame in avatarTest" href="">
                        <canvas id="canvas" width="50" height="70"></canvas>
                    </a>
                </div>
                <canvas id="avatar-canvas" width="500" height="700"></canvas> -->
            </div>
        </section>
    </div>

    <aside class="games-created">
        <button ng-click="createGame()">Create a New Game</button>
        <div ng-if="!games" class="make-some">
            <h1>You Should Totally Make Some Games!</h1>
        </div>
        <h1 ng-if="games">You Did This:</h1>
        <div ng-if="games" class="user-games" ng-repeat="game in games">
            <!-- <img src="{{ game.thumbnail }}" alt="Game thumbnail"/> -->
            <ul>
                <li>
                    <label for="game-name">Game Name:</label>
                    {{ game.name | capitalize }}</li>
                <li>
                  <label for="published">Published:</label>{{ game.published ? 'Y' : 'N' }}
                </li>
                <li>
                    <label for="created">Date Created:</label>
                    <p>{{ game.created_at | date:'MMM d - h:mm a' }}</p>
                </li>
                <li>
                    <label for="players">Play:</label>
                    <p>{{ game.players }}</p>
                </li>
            </ul>
            <div class="buttons">
              <button type="button" ng-click="editGame(game.name)">Edit</button>
              <button type="button" ng-click="archiveGame(game)">Archive</button>
            </div>
        </div>

        <h1 ng-if="collaborations">You're a Collaborator On:</h1>
        <div ng-if="collaborations" class="user-games" ng-repeat="collaboration in collaborations">
            <!-- <img src="{{ game.thumbnail }}" alt="Game thumbnail"/> -->
            <ul>
                <li>
                    <label for="game-name">Game Name:</label>
                    {{ collaboration.name | capitalize }}</li>
                <li>
                    <label for="creator">Created By:</label>
                    <p>{{ collaboration.user_id }}</p>
                </li>
                <li>
                    <label for="created">Date Created:</label>
                    <p>{{ collaboration.created_at | date:'MMM d - h:mm a' }}</p>
                </li>
                <li>
                    <label for="players">Players:</label>
                    <p>{{ collaboration.players }}</p>
                </li>
            </ul>
            <div class="buttons">
              <button type="button" ng-click="editGame(collaboration.name)">Edit</button>
            </div>
        </div>

    </aside>

</div>
