<div class="profile-container">
    <div class="left-screen">
        <section class="user-info">
            <img src="{{ user.picture }}" alt="Google profile picture" />
            <ul class="info">
                <label for="username">Questr Name:<li>{{ user.username }}</li></label>
                <label for="joined">Joined the Quest:<li>{{ getJoinedDate(user.joined) | date:'MMM d - h:mm a' }}</li></label>
                <label for="joined">Another Stat:<li>Something Impressive</li></label>
            </ul>
        </section>

        <section class="canvas-tools">
          <p>
            Canvas Tools:
          </p>
        </section>

        <section class="avatar-creator">
            <canvas id="animate-preview" width="145" height="200"></canvas>
            <div>
                <h1>Avatar Editor:</h1>
                <div class="frame-overview">
                    <a ng-repeat="frame in avatarTest" href="">
                        <canvas id="canvas" width="50" height="70"></canvas>
                    </a>
                </div>
                <canvas id="avatar-canvas" width="500" height="700"></canvas>
            </div>
        </section>
    </div>

    <aside class="games-created">
        <button ng-click="createGame()">Create a New Game</button>
        <div ng-if="!games" class="make-some">
            <h1>You Should Totally Make Some Games!</h1>
        </div>
        <h1 ng-if="games">You Did This:</h1>
        <div ng-if="games" class="user-games" ng-repeat="game in games"  ng-click="editGame(game.name)">
            <img src="{{ game.thumbnail }}" alt="Game thumbnail"/>
            <ul>
                <li>
                    <label for="game-name">Game Name:</label>
                    {{ game.name }}</li>
                <li>
                    <label for="creator">Created By:</label>
                    <p>{{ game.creator }}</p>
                </li>
                <li>
                    <label for="created">Date Created:</label>
                    <p>{{ game.created_at }}</p>
                </li>
                <li>
                    <label for="players">Players:</label>
                    <p>{{ game.players }}</p>
                </li>
            </ul>
        </div>
    </aside>

</div>
