<div ng-model="detail.game" id="detail-container">
  <div class="main-portal">
    <section class="game-detail">
      <h1>{{ detail.game.name | capitalize }}</h1>
        <div class="detail-info">
            <img src="{{ detail.game.thumbnail }}" alt="Game thumbnail" />
            <label for="creator">Created By:
            <p>{{ detail.game.username | capitalize }}</p></label>
            <label for="created">On:
            <p>{{ detail.game.created_at | date:'MMM d, yyyy' }}</p></label>
        </div>
        <div class="collab-button">
            <label>Ask to be collaborator on this game</label>
            <button ng-click="detail.sendCollabRequest(detail.game.id)" type="button" name="collaborate"> Send Request </button>
        </div>
    </section>
    <aside id="play-splash">
        <h1 data-shadow="Yazua" class="yazua">Yazua DPS</h1>
        <button ng-click="detail.playGame(detail.game.name)">Play <span>{{ detail.game.name | capitalize }}</span></button>
    </aside>
    </div>
</div>
