<section id="editor">
  <ui-view class= "asset-search" name="palette" ng-show="editor.selectingAssets"> </ui-view>

  <div id="editor-view">

      <!-- SCENE EDITOR -->
      <section id="scene-editor">
        <!-- TAB NAVIGATOR -->
          <ul class="tab-nav">
              <li class="tab" ng-class="{'active': editor.currentLargeView === 'map'}" ng-click="editor.currentLargeView = 'map'"><h5>Map</h5></li>
              <li class="tab" ng-class="{'active': editor.currentLargeView === 'scene'}" ng-click="editor.currentLargeView = 'scene'"><h5>{{editor.currentScene.name || "Scene"}}</h5></li>
              <li class="tab" ng-class="{'active': editor.currentLargeView === 'background'}" ng-click="editor.currentLargeView = 'background'"><h5>{{editor.currentBackground.name || "Background"}}</h5></li>
          </ul>
          <!-- GENERAL EDITOR VIEW TEMPLATE -->
          <section class="editor-contents" id="scene">

            <!-- HEADER -->
            <div class="edit-header">
              <p ng-hide="editor.currentLargeView === 'map'">{{editor.currentLargeView | capitalize}} name:</p>
              <p ng-show="editor.currentLargeView === 'map'">Maps:</p>
              <input type="text" ng-model="editor.currentBackground.name" ng-click="editor.selectText($event)" blur-on-enter ng-show="editor.currentLargeView === 'background'">
              <input type="text" ng-model="editor.currentScene.name" ng-click="editor.selectText($event)" blur-on-enter ng-show="editor.currentLargeView === 'scene'">
              <!-- <input type="text" class="currentColor" ng-model="bg.currentColor" value="{{editor.currentColor}}" ng-hide="true"> -->
            </div>
            <!-- EDIT SPACE -->
            <div class="edit-canvas {{editor.currentLargeView}}" ng-class="{{editor.currentLargeView}}">
                <ui-view ng-show="editor.currentLargeView === 'map'" name="maps"></ui-view>
                <ui-view ng-show="editor.currentLargeView === 'scene'" name="scenes" ng-style="editor.currentSceneImg"></ui-view>
                <ui-view ng-show="editor.currentLargeView === 'background'" name="backgrounds"></ui-view>
            </div>
            <!-- CONTROLS -->
            <ul class="editor-controls">
                <li><button id="clearBackground" ng-disabled="editor.currentLargeView !== 'background'">Clear</button></li>
                <li><button id="saveBackground" ng-disabled="editor.currentLargeView !== 'background'"><div>Save {{editor.currentBackground.name || "Background"}}</div></button></li>
                <li><button id="undoBackground" ng-disabled="editor.currentLargeView !== 'background'">Undo</button></li>
                <li><button id="redoBackground" ng-disabled="editor.currentLargeView !== 'background'">Redo</button></li>
            </ul>
          </section>

          <!-- TOOLBAR -->
          <section id="tool-bar">
            <ng-include ng-hide="editor.currentLargeView === 'scene'" src="'./src/views/game/editor/tools/palette.html'"></ng-include>
            <ng-include ng-if="editor.currentLargeView === 'scene'" src="'./src/views/game/editor/tools/scene-tools.html'"></ng-include>

          </section>
      </section>


      <!-- ASSET BAR -->
      <aside id="asset-bar">
          <ul class="assets">
              <li class="viewer" id="backgrounds">
                  <h4><a title="Click to browse backgrounds to add to your palette." ng-click="editor.goToPalette('backgrounds')">Backgrounds</a></h4>
                  <ul>
                    <li ng-click="editor.createBackground()"> <div class="availableAsset"> + </div> </li>
                    <li ng-repeat="background in editor.availableBackgrounds | orderBy:'-'" ng-click="editor.editBackground(background)"><div class="availableAsset"> {{background.name}} </div></li>
                  </ul>
              </li>
              <li class="viewer" id="game-objects">
                  <h4><a title="Click to browse game objects to add to your palette." ng-click="editor.goToPalette('obstacles')">Game Objects</a></h4>
                  <ul>
                      <li ng-click="editor.createObject()"> <div class="availableAsset"> + </div> </li>
                      <li ng-repeat="object in editor.availableObjects | orderBy:'-'" ng-click="editor.editObject(object)"><div class="availableAsset"> {{object.name}} </div></li>
                  </ul>
              </li>
              <li class="viewer" id="entities">
                  <h4><a title="Click to browse entities to add to your palette." ng-click="editor.goToPalette('entities')">Entities</a></h4>
                  <ul>
                      <li ng-click="editor.createEntity()"> <div class="availableAsset"> + </div> </li>
                      <li ng-repeat="entity in editor.availableEntities | orderBy:'-'" ng-click="editor.editEntityFrame(entity)"><div class="availableAsset"> {{entity.name}} </div></li>
                  </ul>
              </li>
              <li class="viewer" id="scripts">
                  <h4>Scripts</h4>
                  <ul>
                      <li><canvas class="asset script"></canvas></li>
                      <li><canvas class="asset script"></canvas></li>
                      <li><canvas class="asset script"></canvas></li>
                      <li><canvas class="asset script"></canvas></li>
                  </ul>
              </li>
          </ul>
          <section class="editor-contents" id="asset">
              <ui-view name="objects" ng-show="editor.currentSmallView === 'object'"></ui-view>
              <ui-view name="entities" ng-show="editor.currentSmallView === 'entity'"></ui-view>
              <ui-view name="scripts" ng-show="editor.currentSmallView === 'script'"></ui-view>
          </section>
      </aside>

  </div>

  <footer id="editor-footer">
    <ul>
      <li><button ng-click="editor.saveGame()" class="saveGame big"> SAVE </button></li>
      <li><button ng-click="editor.publishGame()" class="publishGame big"> PUBLISH </button></li>
    </ul>
  </footer>
</section>
