<div id="editor-view">

    <section class="pop-up edit-game" ng-if="gameToEdit">
        <label for="game-edit">Awesome! You're Now Editing:</label>
        <p>{{ gameToEdit }}</p>
        <button ng-click="editGame()" type="button" name="cool">COOL!</button>
        <button ng-click="cancel()" type="button" name="cool">nah!</button>
    </section>

    <section class="pop-up create-game" ng-if="!gameToEdit">
        <form ng-submit="createNewGame(newGameName)">
            <label for="game-create">Start by Giving Your New Game a Name:</label>
            <input ng-required="true" type="text" ng-model="newGameName" placeholder="Game Name">
            <input type="submit" value="Start Imagining">
        </form>
    </section>

    <!-- SCENE EDITOR -->
    <section id="scene-editor">
        <ul class="tab-nav">
            <li class="tab active" ng-class="{'active': toggle}" ng-click="toggle=!toggle"><a ng-click="editor.currentLargeView = 'maps'">Map</a></li>
            <li class="tab" ng-class="{'active': !toggle}" ng-click="toggle=!toggle"><a ng-click="editor.currentLargeView = 'scenes'">Scene</a></li>
            <li class="tab" ng-class="{'active': !toggle}" ng-click="toggle=!toggle"><a ng-click="editor.currentLargeView = 'backgrounds'">Backgrounds</a></li>
        </ul>
        <section class="editor-contents" id="scene">
            <ui-view ng-show="editor.currentLargeView === 'maps'" name="maps"></ui-view>
            <ui-view ng-show="editor.currentLargeView === 'scenes'" name="scenes"></ui-view>
            <ui-view ng-show="editor.currentLargeView === 'backgrounds'" name="backgrounds"></ui-view>
        </section>
        <section id="palette">
            <h4>Palette</h4>
            <ul id="colors-menu">
                <li class="tools">
                    <button class="collision">Draw Collision</button>
                    <button class="eraser">Erase</button>
                </li>
                <li class="color">
                </li>
                <li class="color">
                </li>
                <li class="color">
                </li>
                <li class="color">
                </li>
                <ul class="picker">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </ul>
        </section>
    </section>


    <!-- ASSET BAR -->
    <aside id="asset-bar">
        <ul class="assets">
            <li class="viewer" id="backgrounds">
                <h4>Backgrounds</h4>
                <ul>
                    <li><canvas class="asset background"></canvas></li>
                    <li><canvas class="asset background"></canvas></li>
                    <li><canvas class="asset background"></canvas></li>
                    <li><canvas class="asset background"></canvas></li>
                </ul>
            </li>
            <li class="viewer" id="game-objects">
                <h4>Game Objects</h4>
                <ul>
                    <li><canvas class="asset game-object"></canvas></li>
                    <li><canvas class="asset game-object"></canvas></li>
                    <li><canvas class="asset game-object"></canvas></li>
                    <li><canvas class="asset game-object"></canvas></li>
                </ul>
            </li>
            <li class="viewer" id="entities">
                <h4>Entities</h4>
                <ul>
                    <li><canvas class="asset entity"></canvas></li>
                    <li><canvas class="asset entity"></canvas></li>
                    <li><canvas class="asset entity"></canvas></li>
                    <li><canvas class="asset entity"></canvas></li>
                </ul>
            </li>
            <li class="viewer" id="scripts">
                <h4>Scripts</h4>
                <ul>
                    <li><canvas class="asset script"></canvas></li>
                    <li><canvas class="asset script"></canvas></li>
                    <li><canvas class="asset script"></canvas></li>
                    <li><canvas class="asset script"></canvas></li>
                </ul>
            </li>
        </ul>
        <section class="editor-contents" id="asset">
            <div class="edit-canvas"><canvas height="200" width="200"></canvas></div>
            <ui-view name="objects"></ui-view>
            <ui-view name="entities"></ui-view>
            <ui-view name="scripts"></ui-view>
            <ul class="editor-controls">
                <li><button id="clear">Clear</button></li>
                <li><button id="save">Save <code ng-non-bindable>{{canvas}}</code></button></li>
                <li><button id="save">Undo</button></li>
                <li><button id="save">Redo</button></li>
            </ul>
        </section>
    </aside>


</div>
