<div id="play-container">
  <div class="test-buttons">
    <button style="background: lightgreen;" class="createGameBtn">Create Game 'Potter Quest'</button>
    <button style="background: lightgreen;" class="createBgBtn">Create Background 'Cupboard'</button>
    <button style="background: lightgreen;" class="drawImgBgBtn">Draw Image for Background 'Cupboard'</button>
    <button style="background: lightgreen;" class="drawColBgBtn">Draw Collision Map for Background 'Cupboard'</button>
    <button style="background: lightgreen;" class="saveBgBtn">Save Background 'Cupboard'</button>
    <button style="background: lightgreen;" class="createObjBtn">Create Object 'Light Bulb'</button>
    <button style="background: lightgreen;" class="drawImgObjBtn">Draw Image for Object 'Light Bulb'</button>
    <button style="background: lightgreen;" class="drawColObjBtn">Draw Collision Map for Object 'Light Bulb'</button>
    <button style="background: lightgreen;" class="saveObjBtn">Save Object 'Light Bulb'</button>
    <button class="createEntityBtn">Create Entity 'Rat'</button>
    <button class="drawImgEntityBtn">Draw Image Frames for Entity 'Rat'</button>
    <button class="drawColEntityBtn">Draw Collision Map for Entity 'Rat'</button>
    <button class="saveEntityBtn">Save Entity 'Rat'</button>
    <button class="createSceneBtn">Create Scene 'Cupboard Under the Stairs'</button>
    <button class="saveSceneBtn">Save Scene 'Cupboard Under the Stairs'</button>
    <button class="createMapBtn">Create Map 'Privet Drive'</button>
    <button class="saveMapBtn">Save Map 'Privet Drive'</button>
    <button class="saveGameBtn">Save Map 'Privet Drive'</button>
    <button class="createAvatarBtn">Create Avatar 'Harry'</button>
    <button class="saveAvatarBtn">Save Avatar 'Harry'</button>
    <button class="playGameBtn">Play Game</button>
  </div>
  <div class="game-window">
    <h1> Game Title </h1>
    <div class="game-screen">
      <canvas id="play-canvas" width=700 height=500></canvas>
      <div class="typing"> </div>
      <div class="dialog"> </div>
    </div>
  </div>
  <div class="chat-window">
    <h1> Chat </h1>
    <ul class="chat-messages"> </ul>
    <form class="chat-submit" action="">
      <input class="message" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
